* {
  overflow-x: hidden !important;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

.sections {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
}

/* MARIO */

.Mario > .top,
.Mario > .bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.Mario > .top {
  height: 80%;
  background-color: #fb3336;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.15'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  z-index: 3;
}

.Mario > .bottom {
  height: 20%;
  background-color: white;
  transition: all 10s;
  z-index: 6;
}

.big-mario {
  position: absolute;
  bottom: -100vh;
  right: 50%;
  z-index: 5;
}

.small-mario,
.jumping-mario {
  position: absolute;
  left: 33%;
  top: 50%;
}

.jumping-mario {
  display: none;
  z-index: 2;
  transition: all 10s;
}

.action-block {
  position: absolute;
  overflow: hidden;
  bottom: calc(20vh + 20px);
  right: calc(50% - 211px);
  cursor: pointer;
  z-index: 1999;
}

.hint {
  padding-bottom: 30px;
}

.mario-logo img {
  max-width: 200px;
  opacity: 0;
}

.jump {
  animation: jump 1s ease 0s 1 forwards;
}

.show {
  animation: show 1s ease 1s 1 forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes jump {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-110vh);
  }
}

@keyframes nudge {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

/* ZELDA */

section.zelda {
  background: #000;
  position: relative;
}

.navi {
  cursor: pointer;
  position: absolute;
  height: 300px;
  width: 500px;
  left: 0;
  top: 0;
  animation: voo 6s ease-in-out infinite;
  z-index: 1894;
  transition: all 1s ease-in-out;
}

@keyframes voo {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-45px);
  }
}

.corpo {
  position: absolute;
  height: 90px;
  width: 90px;
  background: #d5edf5;
  border-radius: 50%;
  top: 100px;
  left: 50%;
  opacity: 0.98;
  margin-left: -45px;
  box-shadow: 0 0 20px #a08bf7, 0 0 40px rgba(187, 177, 230, 1),
    0 0 60px rgba(187, 177, 230, 0.6), 0 0 80px rgba(187, 177, 230, 0.9),
    0 0 30px 70px rgba(250, 232, 130, 0.1);
  animation: cresce 1s infinite;
}

@keyframes cresce {
  50% {
    transform: scale(1.04);
  }
}

.asa-g-e {
  position: absolute;
  height: 95px;
  width: 65px;
  background: #fff;
  border-radius: 100% 5px 100% 10%;
  top: 18px;
  left: 195px;
  transform: rotate(-45deg);
  opacity: 0.7;
  box-shadow: 0 0 40px rgba(187, 177, 230, 1);
  animation: asa 3s infinite;
  transform-origin: 50% 100%;
}

@keyframes asa {
  0% {
    transform: rotate(-65deg);
  }
  12.5% {
    transform: rotate(-90deg);
  }
  25% {
    transform: rotate(-65deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-65deg);
  }
}

.asa-g-d {
  position: absolute;
  height: 95px;
  width: 65px;
  background: #fff;
  border-radius: 5px 100% 10%;
  top: 18px;
  left: 238px;
  opacity: 0.7;
  box-shadow: 0 0 40px rgba(187, 177, 230, 1);
  animation: asa-e 3s infinite;
  transform-origin: 50% 100%;
}

@keyframes asa-e {
  0% {
    transform: rotate(65deg);
  }
  12.5% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(65deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(65deg);
  }
}

.asa-p-e {
  position: absolute;
  height: 40px;
  width: 30px;
  background: #fff;
  border-radius: 180% 30% 130% 25%;
  top: 178px;
  left: 202px;
  opacity: 0.7;
  box-shadow: 0 0 40px rgba(187, 177, 230, 1);
  animation: asa-p-e 3s linear infinite;
  transform-origin: 100% 0%;
}

@keyframes asa-p-e {
  0% {
    transform: rotate(15deg);
  }
  12.5% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

.asa-p-d {
  position: absolute;
  height: 40px;
  width: 30px;
  background: #fff;
  border-radius: 30% 180% 25% 130%;
  top: 174px;
  left: 266px;
  opacity: 0.7;
  box-shadow: 0 0 40px rgba(187, 177, 230, 1);
  animation: asa-p-d 3s linear infinite;
  transform-origin: 50% 0%;
}

@keyframes asa-p-d {
  0% {
    transform: rotate(-15deg);
  }
  12.5% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.triforce {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/* Link */

section.Link {
  display: flex;
}

.left-link {
  height: 100vh;
  width: 60vw;
  background-color: #476d58;
  background-image: url("./zelda/link-vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-link {
  height: 100vh;
  width: 40vw;
  background: #000;
  background-image: url("./zelda/link-illustration.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.zelda-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zelda-logo img {
  width: 40%;
}

/* Pokemon  */

section.Pokemon {
  background-color: #fee100;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23fdfcfd' fill-opacity='0.42' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

@keyframes runningmon {
  from {
    left: -150px;
  }
  to {
    left: 115vw;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.running-pikachu {
  width: 150px;
  height: 110px;
  background: url("./pokemon/pikachu.gif");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 50px;
  left: 0;
  animation: runningmon 4s infinite;
}

.pokeball:hover {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.pokeball:active {
  animation: jump 0.7s ease-in-out;
}

.pokeball img {
  width: 150px;
}

.poke-fight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#self {
  margin-left: -150px;
  animation: wiggle 1.5s infinite;
}

#opponent {
  margin-left: 150px;
  animation: wiggle 1s 1s infinite;
}

.pokemon {
  width: 250px;
}

.pokemon-logo {
  overflow: hidden;
}

/* animal crossing */

section.Animal-Crossing {
  background-color: #ff7322;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23f3f3f4' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}

.murabito-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  touch-action: none;
  z-index: 3;
}
.murabito {
  touch-action: none;
  user-select: none;
  z-index: 4;
  width: 300px;
  height: 300px;
}

.murabito img {
  width: 100%;
  height: 100%;
}

.murabito:hover {
  cursor: pointer;
  border-width: 20px;
}

.animal-crossing-logo {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.slider {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.puzzle-box {
  z-index: 1;
  background-color: white;
  border-radius: 3px;
  height: 300px;
  width: 300px;
  position: absolute;
  bottom: 10vh;
  right: 20vw;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Kirby */

section.Kirby {
  background: radial-gradient(#fcd, #dab);
  display: flex;
  align-items: center;
  justify-content: center;
}

.kirby {
  width: 200px;
  cursor: pointer;
}

.kirby img {
  width: 100%;
}

.growbig {
  animation: growbig 7s ease-in-out forwards;
}

.orei {
  font-size: 48px;
  color: white;
}

@keyframes growbig {
  from {
    width: 200px;
    transform: scale(1);
  }
  to {
    width: 10000px;
    transform: scale(20);
  }
}
